textarea {
    resize: vertical;
}

.navbar-custom-menu {
    .user-menu {
        > a.dropdown-toggle {
            padding: 9px 0px 40px 10px;
        }
        img.user-image {
            width: 36px;
            height: 36px;
        }
    }
}

.main-header {
    .breadcrumb {
        display: inline-block;
        margin-bottom: 0;
        padding: 14px;
        background-color: transparent;
        li,
        li::before,
        a {
            color: #e6e6e6;
            font-size: 1.04em;
            font-style: italic;
            [class*="black"] & {
                color: #444;
            }
        }
        a:hover {
            color: #fff;
            [class*="black"] & {
                color: #000;
            }
        }
        li.active a {
            font-size: 1.2em;
            color: #fff;
            font-style: normal;
            [class*="black"] & {
                color: #000;
            }
        }
        li:first-of-type i {
            margin-right: 8px;
        }
        > li + li::before {
            padding: 0 0.1em;
        }
    }
}

.help-block::before {
    content: "* ";
    display: inline-block;
    font-weight: 800;
}

table.dataTable {
    thead {
        .sorting_asc,
        .sorting_desc {
            box-shadow: 0 -2px #12b5e6 !important;
        }
        th[class*="sorting"]::after {
            font-family: "FontAwesome" !important;
        }
        .sorting::after {
            content: "\f0dc";
        }
        .sorting_asc::after {
            content: "\f160";
            color: #222;
        }
        .sorting_desc::after {
            content: "\f161";
            color: #222;
        }
    }
    tr.new-item {
        background-color: #e7fbd4;
        td i.fa-check {
            color: #62c500;
            font-size: 1.25em;
        }
    }
}

.message-wrapper {
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 1500;

    .message {
        outline: none;
    }
    .message.fade {
        transform: translateY(0);
        transition: opacity 0.3s ease-out, transform 0.5s ease-out;
        &.in {
            transform: translateY(30px);
        }
    }
    .modal-content {
        width: 400px;
        border-radius: 8px;
        border-left: 8px solid #62c500;
    }
    i.fa {
        font-size: 1.8em;
    }
    i.fa-check {
        color: #62c500;
    }
}
